#sxswYoutubePlaylistWidget {
  font-family: Helvetica;
  font-size: .8em;
  width: 960px;
  color: #F8F8F8;
}

#sxswYoutubePlaylistWidget a:link, a:visited {
  color: #F8F8F8;
  text-decoration: none;
}

#sxswYoutubePlaylistWidget .playlists {
/*	display: inline-block;*/
	display: none;
/*  width: 300px;*/
/*  float: left;*/
}

#sxswYoutubePlaylistWidget .playlist ul {
  list-style-type: none;
  padding-left: 0px;
}

#sxswYoutubePlaylistWidget .playlist ul li img.thumbnail {
  float: left;
  padding: 0px 5px 0px 5px;
}
#sxswYoutubePlaylistWidget .playlist ul li {
  height: 95px;
  padding-top: 5px;
  background-color: rgb(38,43,47);
  border-bottom: 1px solid rgb(69, 78, 83);
}
#sxswYoutubePlaylistWidget .playlist ul li:hover {
  cursor: pointer;
  background-color: rgb(69, 78, 83);
}
#sxswYoutubePlaylistWidget .playlist ul li.active {
  background-color: rgb(219, 220, 222);
  color: rgb(69, 78, 83);
}
#sxswYoutubePlaylistWidget .playlist ul li.active a {
  color: rgb(69, 78, 83);
}
#sxswYoutubePlaylistWidget .playlist ul li a {
  font-weight: bold;
}
#sxswYoutubePlaylistWidget .playlist {
  background-color: rgb(38,43,47);
  float: right;
  display: inline-block;
  width: 320px;
  height: 680px;
  overflow-y: scroll;
}

#sxswYoutubePlaylistWidget #viewer {
  display: block;
  background-color: rgb(38,43,47);
  width: 635px;
  height: 680px;
  float: left;
}

#sxswYoutubePlaylistWidget #viewer iframe {
  background-color: black;
  width: 630px;
  height: 355px;
}