/*
 * Original styles from git repo.
 */
#sxswYoutubePlaylistWidget {
  font-family: Helvetica;
  font-size: .8em;
  width: 790px;
  color: #F8F8F8;
  display: inline;
  float: left;
  position: relative;
  left: 290px;
  background: #262b2f;
}

#sxswYoutubePlaylistWidget a:link, a:visited {
  color: #F8F8F8;
  text-decoration: none;
}

#sxswYoutubePlaylistWidget .playlists {
/*	display: inline-block;*/
	display: none;
/*  width: 300px;*/
/*  float: left;*/
}

#sxswYoutubePlaylistWidget .playlist ul {
  list-style-type: none;
  padding-left: 0px;
}

#sxswYoutubePlaylistWidget .playlist ul li img.thumbnail {
  float: left;
  padding: 0px 5px 0px 5px;
}
#sxswYoutubePlaylistWidget .playlist ul li {
  height: 95px;
  padding-top: 5px;
  background-color: rgb(38,43,47);
  border-bottom: 1px solid rgb(69, 78, 83);
}
#sxswYoutubePlaylistWidget .playlist ul li:hover {
  cursor: pointer;
  background-color: rgb(69, 78, 83);
}
#sxswYoutubePlaylistWidget .playlist ul li.active {
  background-color: rgb(219, 220, 222);
  color: rgb(69, 78, 83);
}
#sxswYoutubePlaylistWidget .playlist ul li.active a {
  color: rgb(69, 78, 83);
}
#sxswYoutubePlaylistWidget .playlist ul li a {
  font-weight: bold;
}
#sxswYoutubePlaylistWidget .playlist {
  background-color: rgb(38,43,47);
  float: right;
  display: inline-block;
  width: 320px;
  height: 680px;
  overflow-y: scroll;
}

#sxswYoutubePlaylistWidget #viewer {
  display: block;
  background-color: rgb(38,43,47);
  width: 470px;
  height: 680px;
  float: left;
}

#sxswYoutubePlaylistWidget #viewer iframe {
  background-color: black;
  width: 470px;
  height: 355px;
}

/*
 * Styles brought over from sxsw.com main theme.
 */

/* Reset styles 
--------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
#footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px dotted #CCC; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 Arial, sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

em, i { font-style: italic; }
body, select, input, textarea { color: #2d3234; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #fc4209; }
a:hover { color: #b02e07; }
a.nolink { cursor: default; }

/* Primary styles 
--------------------------------------------- */
body { 
  background: #3e4549 url('imgs/bg-noise.jpg') top center repeat; 
  color: #2d3234;
}

#wrapper { 
  margin: 0 auto; width: 1200px;
}

#top, #header, #branding, #page, #footer { margin: 0 auto; width: 960px; }

#content-top, #main, #sponsors, #sidebar, #rightnav, #left { display: inline; float: left; }

#top, #footer { background-color: #2d3235; }

#top { 
  height: 28px; 
  margin-bottom: 8px; 
  overflow: hidden; 
  text-shadow: 1px 1px 1px #25292b; 
  font-size: 0.85em;
  }

#header { 
  text-shadow: 1px 1px 1px #25292b; 
  position: relative; 
  height: 154px;
  margin-bottom: 10px;
  }
  #header.short, .marketing #header { height: 128px; }

#callout { text-shadow: 1px 1px 1px #25292b; position: relative; width: 635px; }
  .slide { margin-bottom: 10px; }

#sponsors {
  width: 140px;
  margin-left: -15px;
  margin-bottom: 40px;
  left: -640px;
  position: relative;
}

#content-top { width: 100%; }

#main { 
  width: 470px; 
  min-height: 600px; 
  padding: 20px; 
  margin: 0px 0px 20px 0px; 
  background-color: #FFFFFF;
  position: relative; 
  }
  
  #main article { line-height: 1.5em; }
  #main.wide { width: 795px; margin-right: 0; }
  #left.wide { width: 100%; }
  
#sidebar { 
  width: 315px; 
  margin-bottom: 20px;
}

#sidebar .block.sidebar { 
  background-color: #ffffff; 
  padding: 12px 10px;
}

.music .term { color: #cde61b; }
.film .term { color: #50ecff; }
.interactive .term { color: #ff8a00; }
.piccaption { position: absolute; bottom: 14px; right: 14px; color: #919395; font-size: .8em; }
   
.views-slideshow-controls-bottom { 
  position: absolute; 
  bottom: 22px; left: 14px;
  z-index: 20;
}
    
#slideshow .pager-item { 
  text-indent: -9999em; 
  display: block;
  overflow: hidden;
  width: 2px;
  height: 13px;
  margin-right: 5px;
  background: transparent url(imgs/sprite.png) no-repeat -292px -81px;
  float: left;
  cursor: pointer;
}
      
#slideshow .pager-item a { text-indent: -9999em; overflow: hidden; }

#slideshow .activeSlide { background-position: -279px -81px; }

.newsletter { 
  padding: 8px 14px; 
  background: #757a7d; 
  width: 287px; 
  color: #fff; 
}
  
#sidebar .block { margin-bottom: 10px; }

#announcement { 
  border: 1px solid #747a7e; 
  padding: 8px 14px; 
  background: #51595e; 
  width: 285px;
  height: 208px; 
  color: #fff; 
  
  margin-bottom: 10px;
  /* Shadow */
	-moz-box-shadow: 0px 1px 0px #292e31;
	-webkit-box-shadow: 0px 1px 0px #292e31;
	box-shadow: 0px 1px 0px #292e31; 
}

.film #announcement { 
  border: 1px solid #4db9c6;
  background: #009bae;
}

.film #announcement h3 { 
  color: #00212a; 
  text-shadow: 0px 1px 1px #00afbe; 
  filter: dropshadow(color=#00afbe, offx=0, offy=1);
}
  
#footer { width: 890px; padding: 0 35px 40px 35px; } 

.sprite, 
.facebook,
.youtube,
.rss, 
.twitter, 
.cap, 
.grande, 
.austin,
.corenap,
.alliancetech, 
.mobiapps, 
#search .form-text { text-indent: -9999em; display: block; overflow: hidden; background: url('imgs/sprite.png'); }

/* Text only */

h1, h2, h3, h4, h5 {}

h1 { font-size: 2.5em;  line-height: 1em;}

h2, .views-field-title { font-size: 1.5em; line-height: 1.5em; font-weight: bold; }

h2 a, h2 a:visited { color: #2d3234; text-decoration: none; }

h3 { font-size: 1.7em; line-height: 1.5em; }

#footer h3 { color: #ffffff; font-size: 1em; margin-bottom: 2px; margin-top: 20px; }

h4 { font-size: 1.1em; line-height: 1.5em; color: #fc4209; }

h5 { font-size: 1em; color: #B8BEC0; margin-bottom: 8px; }

p, ul, ol, h1, h2, h3, table { margin-bottom: 12px; }

p { line-height: 1.5em; }

.message { 
  color: #6b7077; 
  padding-top: 20px; 
  margin-top: 20px;
  display: block; 
  float: left; 
  border-top: solid 1px #6b7077;}

.dates { 
  color: #b8bec0;
  position: absolute;
  top: 10px;
  left: 240px;
 }
 
.caption {
  font-style: italic;
  font-size: .8em;
}

.caption-sm {
  font-style: italic;
  font-size: 10px;
  text-align: right;
  display: block;
  margin-right: 0px;
  margin-top: 4px;
}

table { width: 100%; }

/* Meta styles submitted and terms */
.meta { margin-bottom: 12px; } 

.submitted { float: left; margin-right: 5px; }

.submitted a { color: #2d3234; text-transform: capitalize; }
  .submitted a:hover { text-decoration: none; }

.terms { float: left; }
  .terms .inline { margin-left: 0; }
  .terms .inline li { float: left; }
  .terms .inline li a { 
    background-color: #d1d1d1; 
    padding: 2px 5px; 
    margin-right: 5px; 
    color: #2d3234; 
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    }
    /* the Film Tag */
    .terms .inline li.taxonomy_term_2 a { color: #ffffff; background-color: #22a3b3; }
    /* the Music Tag */
    .terms .inline li.taxonomy_term_1 a { color: #ffffff; background-color: #9dab2f; }
    /* the Interactive Tag */
    .terms .inline li.taxonomy_term_3 a { color: #ffffff; background-color: #ff8600; }
    /* the Platinum Tag */
    .terms .inline li.taxonomy_term_4 a { color: #ffffff; background-color: #2d3234; }
    
    .terms .inline a:hover { background-color: #2d3234; color: #ffffff; }

/* Navs only */
/* Primary menu */
ul.primary-links {
  display: block;
 	list-style: none;
  width: 785px;
  height: 40px;
  float: right;
  z-index: 200;
	padding-left: 8px;
	margin-top: 40px;

	/* Rounded Corners */
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;

	/* Background color and gradients */
	background: #2d3234;
	background: -moz-linear-gradient(top, #2d3234, #222627);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2d3234), to(#222627));
	
	/* Shadow */
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.45);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.45);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.45); 
}

ul.primary-links li { float: left; }

ul.primary-links li a {
	float: left;
	padding: 5px 16px 10px 16px;
	margin-right: 5px;
	margin-top: 9px;
	border:none;	
}

ul.primary-links li.last a {
  margin-right: 0;
}
  
.music a.film, .music a.interactive, 
.film a.music, .film a.interactive, 
.interactive a.film, .interactive a.music {
  background: none;
  color: #D1D1D1;
  text-shadow: none;
}

.primary-links a,  
.primary-links a:hover {
	color: #d1d1d1;
	font-weight: bold;
	text-decoration: none;
}

.primary-links li a:hover {
	/* Background color and gradients */
	background: #2f3436;
	background: -moz-linear-gradient(top, #545a5c, #2f3436);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#545a5c), to(#2f3436));
}

.primary-links a,
a.music,
a.film,
a.interactive,
a.confnews {
  padding: 5px 18px 10px 18px;

  /* Rounded corners */
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
}
  
.primary-links li.active-trail a, 
.primary-links li.active-trail a.confnews, 
.front .primary-links a.confnews {
  color: #272727!important;
  	
	/* Background color and gradients */
  text-shadow: 1px 1px 1px #9aa1a4; 

	background:  #a4abae url('imgs/ie-bg.png) 0px -225px repeat-x;
	background: -moz-linear-gradient(top, #a4abae, #494f52);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a4abae), to(#494f52));
}
  
  a.music,
  .primary-links li.active-trail a.music, 
  .primary-links a.music:hover {
    color: #272727;
  		
  	/* Background color and gradients */
    text-shadow: 1px 1px 1px #a7b034; 

  	background: #afbf35 url('imgs/ie-bg.png) 0px -1px repeat-x;
  	background: -moz-linear-gradient(top, #afbf35, #535a1a);
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#afbf35), to(#535a1a));
    }
    
    .primary-links li.active-trail a.music:hover {
    	background-color: #cdd867;
    	background: -moz-linear-gradient(top, #cdd867, #858b43);
    	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cdd867), to(#858b43));
    }
  
  a.film,
  .primary-links li.active-trail a.film, 
  .primary-links a.film:hover {
    color: #272727;
  		
  	/* Background color and gradients */
    text-shadow: 1px 1px 1px #00b2bd; 
      	
  	background: #00a8bc;
  	background: -moz-linear-gradient(top, #00a8bc, #006570);
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00a8bc), to(#006570));
    }
    
    .primary-links li.active-trail a.film:hover {    	
    	background: #00d0dc;
    	background: -moz-linear-gradient(top, #00d0dc, #00a0a9);
    	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00d0dc), to(#00a0a9));
    }

  a.interactive,
  .primary-links li.active-trail a.interactive,    
  .primary-links a.interactive:hover {
    color: #272727;
  		
  	/* Background color and gradients */
    text-shadow: 1px 1px 1px #e1851a; 
      	
  	background: #f47920;
  	background: -moz-linear-gradient(top, #f47920, #9c4201);
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f47920), to(#9c4201));
    }
    
    .primary-links li.active-trail a.interactive:hover {    	
    	background: #f8a54d;
    	background: -moz-linear-gradient(top, #f8a54d, #be7503);
    	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8a54d), to(#be7503));
    }
    
#main ul.links { margin-left: 0; }

.node_read_more a { color: #2d3234; text-transform: uppercase; text-decoration: none; font-weight: bold; }
.node_read_more a:hover { color: #fc4209;  }

/* #footer */

.footer-left {
  width: 600px;
  border-top: 1px solid #6b7077;
  float: left;
  margin-top: 44px;
}

.footer-right {
  width: 264px;
  border-left: solid 1px #6b7077;
  border-top: solid 1px #6b7077;
  float: left;
  padding-left: 25px;
  margin-top: 18px;
  color: #ffffff;
}

/* logos */
.logo { 
  width: 338px; 
  height: 195px; 
  display: block; 
  overflow: hidden; 
  background: url('imgs/logos.png') top center;
  background-repeat: no-repeat;
  position: absolute;
  left: -124px;
  text-indent: -9999em;
  z-index: 100;
}

  .film .logo { background-position:  0px -371px; height: 173px; left: -90px; } 
  .interactive .logo { background-position:  0px -543px; left: -129px; } 
  .music .logo { background-position:  0px -196px; height: 173px; left: -90px; }

/* logo shadows */
.logocap {
  width: 392px;
  height: 268px;
  background: transparent url('imgs/main-fuzz.gif) top center no-repeat;
  display: block; 
  position: absolute;
  left: -152px;
  z-index: -10;
  top: -34px;
}

.film .logocap { 
  background: transparent url('imgs/film-fuzz.gif) top center no-repeat; 
  left: -96px; top: -40px;
}

/* social */
.facebook,
.youtube,
.rss, 
.twitter { width: 18px; height: 19px; margin-right: 5px; margin-top: 4px; }

  .facebook { background-position: -159px -170px; }
  .twitter { background-position: -177px -170px; }
  .youtube { background-position: -195px -170px; }
  .rss { background-position: -213px -170px; }

  /* hover */
  .facebook:hover { background-position: -159px -188px; }
  .twitter:hover { background-position: -177px -188px; }
  .youtube:hover { background-position: -195px -188px; }
  .rss:hover { background-position: -213px -188px; }

#footer .cap {
  position: absolute;
  width: 137px;
  height: 87px;
  background-position: 0px -32px;  
  margin: -29px 0px 0px -67px;
}

.grande, 
.austin,
.corenap, 
.alliancetech { margin-right: 10px; float: left; background-repeat: no-repeat; }

.grande { background-position: -136px -85px; width: 141px; height: 50px; }
.austin { background-position: 0px -120px; width: 104px; height: 50px; }
.corenap { background-position: -137px -31px; width: 167px; height: 50px; }  
.alliancetech { background-position: 0px -261px; width: 141px; height: 50px; }
    
/* .menu, .inline { display: inline; } */

.menu li, .inline li { display: inline; }

.menu li a { text-decoration: none; }

.top_left .menu a { color: #b8bec0; }

#rightnav .menu li, 
#sidebar .menu li { display: block; }

.footer_left .menu li, .footer_right .menu li { display: block; margin-right: 5px; margin-bottom: 4px; }

.footer_left .menu, .footer_right .menu { margin-left: 0; }

.block.footer_left { width: 115px; float: left; }

.footer-right #block-menu_block { width: 88px; float: left; }
  
.footer-right #block-block { display: block; clear: both; float: none; padding-top: 5px; }

/* 
 * Top menu
 */
.top_right .menu { float: right; }

#footer .top_right ul { margin: 0; width: 270px; }

.menu li a.mobiapps { 
  color: #272727;
  margin-right: 14px;
  height: 26px;
  width: 158px;
	border:none;
	background-position: -321px -170px;
}

.menu li a.mobiapps:hover {
  background-position: -321px -197px;	
}

.top_left .menu, .top_right .menu li, .top_right .menu li { float: left; }

.top_left .menu { margin: 7px 0px 0px 0px; }

.top_left .menu li { border-right: 1px solid #a3a9ab; }

.top_left .menu li.last { border: none; }

.top_left .menu li a { padding: 0px 10px; line-height: 1em; }
  
.top_left .menu li a:hover { text-decoration: underline; }

.padseventy { padding-right: 70px; }
.padsixty { padding-right: 60px; }
.padforty, .menu-845 a, .menu-913 a, .menu-898 a, .menu-803 a, .menu-904 a, .menu-837 a { padding-right: 40px!important; }
.padthirty, .menu-901 a, .menu-903 a, .menu-890 a { padding-right: 30px!important; }
  
/* Footer menu */
#footer .menu a { color: #d5d5d5; text-decoration: none; }
#footer .menu a.active, #footer .menu a:hover { text-decoration: underline; } 

/* image alignment */
img.alignright {
  padding: 2px;
  margin: 0 0 5px 15px;
  display: inline;
/*   background:#7c7c7c; */
    }

img.alignrightnb {
  padding: 2px 0 0 0;
  margin: 0 0 5px 15px;
  display: inline;
}

img.alignleft {
  padding: 2px;
  margin: 0 15px 5px 0;
  display: inline;
}

/* Share this block. */

.sharethisblock {
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #D1D1D1;
  margin-bottom: 10px;
  float: none;
  display: block;
  clear: both;
}

.sharethisblock h3 {
  display: inline;
  font-size: 1em;
  padding: 0 10px;
  line-height: 1.8em;
}

.social-btns {
  float: right;
  margin-right: 10px;
}

/* Sidebar btn jump */
.btn-jump {
  margin: 0 5px 5px 0;
  display: inline-block;
}
 
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*
 * Forms.
 */

/* Search */
#search input.form-text { 
  width: 280px;
  height: 29px;
  background-position: 0px 0px; 
  padding-left: 35px;
  
  border: none;
  color: #bfbfbf;
  text-indent: 0em;
  line-height: 1.5em;
}
#search input.form-text { 
  position: absolute;
  right: 0;
  top: 45px;
}

#search input.form-submit { display: none; }

#search label { display: none; }

.focusfield { color: #f4f4f4!important; }
